<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="au.com.bluedot.pointsdk_aar">

    <!-- General Point SDK functionality -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <!-- Required for Beacons integration -->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />

    <application>
        <service android:name="au.com.bluedot.point.beacon.BlueDotBLEService" android:exported="false"/>

        <service android:name="au.com.bluedot.point.net.engine.BlueDotPointService" android:exported="false"/>

        <service android:name="au.com.bluedot.point.net.engine.DataJobScheduler" android:exported="false"
            android:permission="android.permission.BIND_JOB_SERVICE" />

        <service android:name="au.com.bluedot.point.net.engine.DataIntentService" android:exported="false" />

    </application>
</manifest>
